	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-6">
			</div>
		</div>
	</div>
	<div class="row">
			<div style="background-image: url('/assets/UPIIG_0002.jpg'); height:500px" class="jumbotron">
	  			<h1 style="text-align:center; color:white">Bienvenido al Comite Ambiental UPIIG</h1>
	  			<!--<h1><small style="color:#DAD3D3">Cuándo tu tiras algo a la calle, ¿sabes adonde va?<br>
	  						Cada persona genera 250 millones de toneladas de basura que 
	  						termina en rellenos sanitarios, ¡pero no tiene porque! <br>


	  			</small></h1> -->	
	  			<br>
	  			<h2 style="color:white; text-align:center">¡Juntos hacemos la diferencia!</h2>
	  			<br>
	  			<br>
	  			  <p style="text-align:center"><a class="btn btn-primary btn-lg" href="#" role="button">Entérate</a></p>

			</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="col-md-6">
	    		<div id="scrollto1" class="thumbnail">
	    			<%= image_tag("UPIIG_0006.jpg") %>
	      			<div class="caption">
	        			<h3>Misión</h3>
	        			<p>...</p>
	        			<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="col-md-6">
	    		<div class="thumbnail">
	    			<%= image_tag("UPIIG_0005.jpg") %>
	      			<div class="caption">
	        			<h3>Visión</h3>
	        			<p>...</p>
	        			<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      			</div>
	    		</div>
	  		</div>
	  		<div class="col-md-4 col-md-offset-4">
  				<h1>Nuestros objetivos</h1>
  				<h1><small>Concientización de desarrollo sustentable<br>
					Marcar huella ecológica<br>
					Prevención de la contaminación<br>
					Minimización de impactos<br>
					Compras verdes<br>
					Corresponsabilidad<br>
					Competencias transversales<br>
					</small>
				</h1>
	  		</div>
	  	</div>
	</div>

	<div style="background-image: url('/assets/UPIIG_0003.jpg');background-repeat: no-repeat;" class="row">
		<div style="color:white" class="container">
				<h1> Actividades realizadas</h1>
				<div class="col-md-6">
					<h3><span class="label label-default">En 2014</span></h3>
					<div class="row">
						
						<div class="col-md-12">
							<div class="bs-callout bs-callout-info" id="callout-helper-context-color-specificity">
							    <h4 id="dealing-with-specificity">- Conferencia sobre Manejo Integral de Residuos en la Zona Metropolitana de León.</h4>
							    <p>Reconocer las necesidades actuales y futuras de las zonas de León, Silao, Purísima del Rincón y San Francisco del Rincón relacionadas con la cadena de manejo integral de residuos.</p>
  							</div>
  							<div class="bs-callout bs-callout-info" id="callout-helper-context-color-specificity">
							    <h4 id="dealing-with-specificity">- Visita a empresa de plásticos automotrices.</h4>
							    <p>Identificar el flujo de proceso de inyección de plásticos así como de los aspectos ambientales significativos.</p>
  							</div>
  							<div class="bs-callout bs-callout-info" id="callout-helper-context-color-specificity">
							    <h4 id="dealing-with-specificity">- Visita a empresa tratadora de agua.</h4>
							    <p>Reconocer los elementos de tratamiento primario, secundario y terciario de las aguas residuales provenientes de los municipios de Purísima y San Francisco del Rincón.</p>
  							</div>
  							<p style="text-align:left"><a class="btn btn-primary btn-lg" href="#" role="button">Ver más...</a></p>

  							<!--
							<div class="bs-callout bs-callout-info" id="callout-helper-context-color-specificity">
							    <h4 id="dealing-with-specificity">- Taller de elaboración de composta.
							    </h4>
							    <p>Desarrollar habilidades de recolección, trituración, montado de pila y seguimiento al proceso de tratamiento mecánico de residuos de alimentos, poda y excremento de burritas para tener la conciencia del manejo adecuado de los residuos orgánicos.</p>
  							</div>
							<div class="bs-callout bs-callout-info" id="callout-helper-context-color-specificity">
							    <h4 id="dealing-with-specificity">- Conferencia de Derecho Humano al Agua.
							    </h4>
							    <p>Conocer las características de actividades judiciales relacionadas con los problemas de contaminación del agua en México por parte de la 6ta. Visitaduría de Derechos Humanos.</p>
  							</div>
  							<div class="bs-callout bs-callout-info" id="callout-helper-context-color-specificity">
							    <h4 id="dealing-with-specificity">- Conferencia de Planes de manejo de residuos especiales.
							    </h4>
							    <p>Identificar los elementos principales para integrar un plan de manejo integral de residuos especiales a partir de la legislación ambiental aplicable.</p>
  							</div>
  							<div class="bs-callout bs-callout-info" id="callout-helper-context-color-specificity">
							    <h4 id="dealing-with-specificity">- Campaña de recolección de metales, juguetes y electrónicos.
							    </h4>
							    <p>Desarrollar el sentido de responsabilidad social en identificar, clasificar y enviar a reciclaje y reuso los residuos reciclables y que tienen un valor secundario.</p>
  							</div>-->
						</div>
					</div>
				</div>
					
				<div class="col-md-6">
					<h3><span class="label label-default">En 2015</span></h3>
					<h4>
						1) Conferencia sobre Manejo Integral de Residuos en la Zona Metropolitana de León.
					</h4>
					<h4>
						2) Visita a empresa de plásticos automotrices.
					</h4>

				</div>
		</div>
	</div>

<script type="text/javascript">
	$('.link1').click ( function () {
	 
	} );
</script>
