<div  class="row">
	<div class="container">
		<footer>
			<div class="col-md-4">
				<h3>Contacto</h3>
				<hr>
				<p><span class="glyphicon glyphicon-flag"></span> Comite ambiental UPIIG</p>
				<p><span class="glyphicon glyphicon-earphone"></span> Av. Mineral de Valenciana No. 200 Col. Fracc. Industrial Puerto Interior, C.P. 36275 Silao de la Victoria, Guanajuato México.</p>
				<p><span class="glyphicon glyphicon-earphone"></span> (472) 74 84638</p>
				<p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:irsiana@gmail.com"> irsiana@gmail.com</a></p>
				<div style="width:250px"><%= image_tag('http://www.poderpda.com/wp-content/uploads/2012/03/Google-Maps-being-offline-doesnt-mean-being-lost.gif') %></div>
			</div>
	  		
	  		<div class="col-md-4">
	  			<h3>Síguenos</h3>
	  			<hr>
	  			<div class="row">
		  			
		  			<div class="col-md-10"></div>
				</div>
				<br>
				<div class="row">
		  			
		  			<div class="col-md-10"></div>
		  		</div>
		  		<br>
		  		<div class="row">
		  			
		  			<div class="col-md-10"></div>
				</div>
	  		</div>
	  		<br>
		</footer>
	</div>
	<br>
</div> 
<div class="row" style="background-color:black">
	<div class="container">
		<div class="col-md-4">
			<p class="lead" style="color:white">Desarrollado por <a style="" href="https://twitter.com/JulioAhuactzin" target="_blank">@JulioAhuactzin</a></p>
		</div>
	</div>
</div>