<div id="scrollto3" style="background-image: url('/assets/brushed-e253cda69ce5d5ddd4c964be13b1c52e.png');" class="row">
	<div class="container">
		<footer>
			<div class="col-md-4">
				<h3>Contacto</h3>
				<hr>
				<p><span class="glyphicon glyphicon-flag"></span> Comite ambiental UPIIG</p>
				<p><span class="glyphicon glyphicon-home"></span> Av. Mineral de Valenciana No. 200 Col. Fracc. Industrial Puerto Interior, C.P. 36275 Silao de la Victoria, Guanajuato México.</p>
				<p><span class="glyphicon glyphicon-earphone"></span> (472) 74 84638</p>
				<p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:irsiana@gmail.com"> irsiana@gmail.com</a></p>
				<div style="width:250px">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4625761868424!2d-101.50242275!3d21.014169399999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b99c0796245ab%3A0x33bbde6d3f68fd6f!2sIPN+-+UPIIG!5e0!3m2!1ses!2smx!4v1427072207711" width="250" height="auto" frameborder="0" style="border:0"></iframe>
				</div>
			</div>
	  		
	  		<div class="col-md-4">
	  			<h3>Síguenos</h3>
	  			<hr>
	  			<div class="row">
		  			
		  			<div class="col-md-10"></div>
				</div>
				<br>
				<div class="row">
		  			
		  			<div class="col-md-10"></div>
		  		</div>
		  		<br>
		  		<div class="row">
		  			
		  			<div class="col-md-10"></div>
				</div>
	  		</div>
	  		<br>
		</footer>
	</div>
	<br>
</div> 
<div class="row" style="background-color:black">
	<div class="container">
		<div class="col-md-4">
			<p class="lead" style="color:white">Desarrollado por <a style="" href="https://twitter.com/JulioAhuactzin" target="_blank">@JulioAhuactzin</a></p>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.link3').click(function(e){
        $('html,body').scrollTo(this.hash, this.hash);
        e.preventDefault();
    });

</script>